# Data
data/raw/*
!data/raw/.gitkeep

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Databricks local artifacts
.databricks/
*.dbc

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlartifacts/

# UV
uv.lock
